$base-spacing: 2em;
$small-spacing: $base-spacing / 2;
$base-border: 1px solid darken(white, 8);

body {
	background-color: #e7e7e7;
	color: #333;
	font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
	"Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
	"Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
	"Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
	text-align: center;
}

section.header {
	height: 100vh;
	background-image: url('../images/car.jpg');
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	h1 {
		color: white;
	}

	figure {
		padding: $base-spacing;
		background-color: white;
		border: $base-border;
		img {
			max-width:25%;
			border-radius:50%;
		}
	}

}
section.about {
	h1 {
		text-align: center;
		vertical-align: top;
	}
	height: 100vh;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
}
section.skills {
	h1 {
		text-align: center;
		vertical-align: top;
	}

	height: 100vh;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
}
section.cv {
	height: 100vh;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
section.projects {
	height: 100vh;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
section.contact {
	height: 100vh;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
section.footer {
	height: 25vh;
	background-color: black;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
.grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.gridelement {
	img {
	align-self: center;
	}
	display: flex;
	flex-flow: column wrap;
	max-width:15%;

}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

/* Links inside the navbar */
.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}
