$base-spacing: 2em;
$small-spacing: $base-spacing / 2;
$base-border: 1px solid darken(white, 8);

body {
	background-color: #e7e7e7;
	color: #333;
	background: #282832;
	font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
	"Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
	"Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
	"Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
	text-align: center;
	padding: 0;
	margin-left: 0;
	margin-top: 30;
}

section.header {
	height: 100vh;
	background-size: cover;
  	background-position: center center;
  	background-repeat: no-repeat;
	background-image: url('../images/h.jpg');
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	h1 {
		color: white;
	}

	figure {
		padding: $base-spacing;
		background-color: white;
		border: 3px solid darken(white, 8);

		img {
			max-width:35%;
			border-radius:50%;
		}
	}

}
section.about {
	min-height: 40vh;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;


	h1 {
		text-align: center;
		vertical-align: top;
	}
	p {
		text-align: center;
		vertical-align: inherit;
		max-width: 60%;
		margin: 0 auto;
	}

	figure {
		padding: $base-spacing;
		background-color: white;
		img {
			max-width:25%;
			border-radius:50%;
		}
	}

}
section.skills {
	h1 {
		text-align: center;
		vertical-align: top;
	}

	min-height: 100vh;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

section.portfolio {
	min-height: 10vh;
	background-color: white;
}
section.contact {
	height: 40vh;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
section.footer {
	height: 25vh;
	background-color: black;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
.grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.gridelement {
	img {
		align-self: center;
	}
	display: flex;
	flex-flow: column wrap;
	max-width:15%;

	p {
		justify-content: space-around;
	}

}
.conform {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	input {
		width: 60%;
	}
	textarea {
		width: 60%;
	}
}

.projelement {
	img{
				border-radius:30px;
	}
}

/* The navigation bar */
.navbar {
	z-index: 2;
	overflow: hidden;
	position: fixed; /* Set the navbar to fixed position */
	background: white;
	top: 0%; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}


/* Links inside the navbar */
.navbar a {
	z-index: 3;
	display: block;
	color: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
	color: red;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}

/* javascript timeline */
.jtime {
	background: #c8be64;
	padding: 50px 0;
	color: white;
}

.jtime .container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.jtime h1 {
	font-size: 2.5rem;
}

.jtime h2 {
	font-size: 1.3rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
	white-space: nowrap;
	overflow-x: hidden;
}

.timeline ol {
	font-size: 0;
	width: 100vw;
	padding: 250px 0;
	transition: all 1s;
}

.timeline ol li {
	position: relative;
	display: inline-block;
	list-style-type: none;
	width: 160px;
	height: 3px;
	background: #fff;
}

.timeline ol li:last-child {
	width: 280px;
}

.timeline ol li:not(:first-child) {
	margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
	content: '';
	position: absolute;
	top: 50%;
	left: calc(100% + 1px);
	bottom: 0;
	width: 12px;
	height: 12px;
	transform: translateY(-50%);
	border-radius: 50%;
	background: #c8be64;
}

.timeline ol li div {
	position: absolute;
	left: calc(100% + 7px);
	width: 280px;
	padding: 15px;
	font-size: 1rem;
	white-space: normal;
	color: black;
	background: white;
}

.timeline ol li div::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
}

.timeline ol li:nth-child(odd) div {
	top: -16px;
	transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
	top: 100%;
	border-width: 8px 8px 0 0;
	border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
	top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
	top: -8px;
	border-width: 8px 0 0 8px;
	border-color: transparent transparent transparent white;
}

.timeline time {
	display: block;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
	margin-right: 20px;
}

.timeline .disabled {
	opacity: .5;
}

.timeline .arrows img {
	width: 45px;
	height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
	.timeline ol,
	.timeline ol li {
		width: auto;
	}

	.timeline ol {
		padding: 0;
		transform: none !important;
	}

	.timeline ol li {
		display: block;
		height: auto;
		background: transparent;
	}

	.timeline ol li:first-child {
		margin-top: 25px;
	}

	.timeline ol li:not(:first-child) {
		margin-left: auto;
	}

	.timeline ol li div {
		width: 94%;
		height: auto !important;
		margin: 0 auto 25px;
	}

	.timeline ol li div {
		position: static;
	}

	.timeline ol li:nth-child(odd) div {
		transform: none;
	}

	.timeline ol li:nth-child(odd) div::before,
	.timeline ol li:nth-child(even) div::before {
		left: 50%;
		top: 100%;
		transform: translateX(-50%);
		border: none;
		border-left: 1px solid white;
		height: 25px;
	}

	.timeline ol li:last-child,
	.timeline ol li:nth-last-child(2) div::before,
	.timeline ol li:not(:last-child)::after,
	.timeline .arrows {
		display: none;
	}
}

/*Grid
---------------------------------------*/
.og-grid {
	width: 100%;
	min-height: 40vh;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

}

.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}

.og-grid li > a,
.og-grid li > a img {
	max-height: 40vh;
	max-width: 40vh;
	border-radius: 20%;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 50%;
	max-width: 50%;
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }

}
