---
title: Jovan
---
<a name="header">
<div class="navbar">
  <a href="#header">home</a>
  <a href="#about">about</a>
  <a href="#skills">skills</a>
  <a href="#cv">cv</a>
  <a href="#projects">projects</a>
  <a href="#contact">contact</a>
</div>

<section class="header">
	<figure>
		<image src='./images/car.jpg' alt='profilepic'>
	</figure>

	<h1>This is the personal site of Jovan Werbes</h1>
</section>

<section class="about">
	<h1><a name="about">About</h1>
	<p>
	I am a UBC computer science graduate looking for work in software development. In my spare time I enjoy making music, graphic design, outdoor activities and fitness. My best friend is a meathead dog named Brutus.
	</p>
</section>
<section class="skills">
	<h1><a name="skills">Skills</h1>

	<div class="grid">
		<div class="gridelement">
			<img src='./images/pslogo.jpg' alt='pslogo'>
			<h2>
				Photoshop
			</h2>
			<p>I have worked with photoshop for around 5 years and am comfortable using it.</p>
		</div>
		<div class="gridelement">

			<h2>
				HTML & CSS
			</h2>
			<p>I am proficient in HTML & CSS and built this site from scratch.</p>
		</div>
		<div class="gridelement">
			<h2>
				Go (Golang)
			</h2>
			<p>I have built a few distributed systems with golang including a blockchain based art network and tor based torrenting network.</p>
		</div>
		<div class="gridelement">
			<h2>
				Ruby
			</h2>
			<p>I have worked with Ruby and Ruby on Rails.</p>
		</div>
		<div class="gridelement">
			<h2>
				Java
			</h2>
			<p>I have worked extensively with java</p>
		</div>

	</div>	



</section>
<section class="cv">
	<h1><a name="cv">Curriculum Vitae</h1>
</section>
<section class="projects">
	<h1><a name="projects">Projects</h1>
</section>
<section class="contact">
	<h1><a name="contact">Contact</h1>
</section>
<section class="footer">
	<p>
	Designed and Built by Jovan Werbes © 2018
	</p>
	<!---picture-of-brutus--->
</section>
