---
title: Jovan
---

<section class="header">
	<figure>
		<image src='./images/car.jpg' alt='profilepic'>
	</figure>

	<h1>This is the personal site of Jovan Werbes</h1>
</section>

<section class="about">
	<h1>
		About
	</h1>
	<p>
	Jovan is a UBC computer science graduate looking for work in software development.
	</p>
</section>
<section class="skills">
	<h1>
		Skills
	</h1>

	<div class="grid">
		<div class="gridelement">
			<h2>
				Photoshop
			</h2>
			<p>I have worked with photoshop for around 5 years and am comfortable using it.</p>
		</div>
		<div class="gridelement">
			<h2>
				HTML & CSS
			</h2>
			<p>I am proficient in HTML & CSS and built this site from scratch.</p>
		</div>
		<div class="gridelement">
			<h2>
				Go (Golang)
			</h2>
			<p>I have built a few distributed systems with golang including a blockchain based art network and tor based torrenting network.</p>
		</div>
		<div class="gridelement">
			<h2>
				Ruby
			</h2>
			<p>I have worked with Ruby and Ruby on Rails.</p>
		</div>
		<div class="gridelement">
			<h2>
				Java
			</h2>
			<p>I have worked extensively with java</p>
		</div>

	</div>	



</section>
<section class="cv">
	<h1>
		Curriculum Vitae
	</h1>
</section>
<section class="projects">
	<h1>
		Projects
	</h1>
</section>
<section class="contact">
	<h1>
		Contact
	</h1>
</section>
<section class="footer">
	<p>
	Designed and Built by Jovan Werbes 2018
	</p>
</section>
